<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Games: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <style>
    .do_javascript { display: none }
    .next { clear:both; }
    form { display: inline; }
  </style>
  <script src="/javascripts/jquery.js"></script>
  <script>
    var tries = 0;
    function save() {
        location="?tries=" + tries;
    }
    $(document).ready(function(){  
	    $('.no_javascript').hide();
	    $('.answer').hide();
	    $('.next').hide();
	    $('.do_javascript').show();
	    $('.photo').click(function(){
	        $('.points').text("....loading....");
		$(this).find('.answer').show('slow');
		$.getJSON("pick_a_face_ajax?pick=" + $(this).attr("id").substr(6), function(data) {
		  tries = data;
		  if( data[0] ) {
		    $('.points').text("Points: " + data[1]);
		    $('.next').show();
		    // if( confirm("Sehr gut!  Noch ein Spiel?") ) { location="pick_a_face_ajax"; } else { location="index"; }
		  } else {
		        $('.points').text("Points: " + data[1]);
		  }
		});
	    });
    });
  </script>
</head>
<body>
<h1>Pick a Face</h1>

<div  class="no_javascript">
	Achtung: diese Spiel funktioniert nur mit Javascript! 
	Wenn diese Meldung erscheint ist Javascript deaktiviert!
</div>


<div class="question do_javascript">
	Wer ist	<b><%= @target.firstname[0,1] %>.<%= @target.lastname %></b>? 
	Bitte anklicken!
</div>

<% for photo in @choice %>
	<div class="photo <%= @target.id == photo.id ? "richtig" : "falsch" %>" id="photo_<%= photo.id %>">
	  <img src="/images/photos/<%= photo.filename %>" />
	  <span class="answer">
		  <% if @target.id == photo.id %>
			  Ja, das ist 
		  <% else %>
			  Nein, das ist 
		  <% end %>
		  <span class="name">
		  <%= photo.firstname %> <%= photo.lastname %> 
		  </span>
		  <span class="data">
		  <%= photo.school %><%= photo.year %> 
		  </span>
	  </span>
  </div>

<% end %>

<div  class="next">
<form>
  <%= radio_button_tag "school", "mma", params["school"] == "mma" %> nur MMA
  <%= radio_button_tag "school", "mmt", params["school"] == "mmt" %> nur MMT
  <%= radio_button_tag "school", "",    params["school"].blank? %> beide
  <input type="submit" value="noch ein Spiel" />
</form>
<form action="index">
  <input type="submit" value="zur&uuml;ck" />
</form>

</body>
</html>
