<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Game: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'game' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<% if @current_score %>
	<div class="score">
		<span class="player">Player: <%= @current_player.username %></span>
		<span class="game">Game: <%= @current_game.name %></span>
		<span class="points">Points: <%= @current_score.points %></span>
	</div>
<% end %>
<%= yield  %>

</body>
</html>
